body {
 background: #cff0ff;
 color: #004f7e;
}

.hide-thread-link {
   color: #004f7e !important;
}

.post-btn {
   color: #004f7e !important; 
}
a:link:not(.close-btn):not(a.post_no),
a:visited,
.intro a.email span.name,
.news-button {
  color: #4984B4;
}
a:link:hover {
 color: #0B41AB;
}
a.post_no {
 color: #004f7e;
}
div.post.reply {
 background: #b6d9ff;
 border-color: #8CC2FF;
 background-image:url('https://files.catbox.moe/jlstcf.png');
 background-size:30px;
 background-repeat:no-repeat;
 background-position:bottom right;
}
div.post.reply.highlighted {
 background: #93C7FF;
 border-color: #6B9EFF
}
div.post.reply div.body a {
 color: #004f7e;
}
.intro span.subject {
 color: #00507F;
}
p.intro span.name{
    color:rgb(1,52,99);
    font-weight:800;
}
form table tr th {
 background-color: #54BDFF;
    color: #004f7e;
    font-weight: 700;
    border: none;
    padding: 0 5px;
    font-size:10pt
}
div.ban h2 {
 background: #54BDFF;
 color: inherit;
}
div.ban {
 border-color: #004f7e;
}
div.ban p {
 color: black;
}
div.pages {
 background: #B6D9FF;
 border-color: #004f7e;
}
div.pages a.selected {
 color: #004f7e;
}
header div.subtitle,h1 {
  color: #004f7e;
  text-align: center;
}
hr {
 border: none;
 border-top: 1px solid #A7D1FF;
 height: 0;
}
div.boardlist {
 color: #A7D1FF;
}
div.boardlist a {
 color: #004f7e;
}
table.modlog tr th {
 background: #B6D9FF;
}

/* options.js */
#options_div, #alert_div {
 background: #cff0ff;
}

.desktop-style div.boardlist:nth-child(1) {
 background-color: #cff0ff;
}
div.banner, .replymode, .catalogmode {
    text-align: center;
    margin: 4px 0 5px 0;
    padding: 5px 2px 5px 2px;
    background-color: #6BB4E1;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
}
body {     background-image: url("https://files.catbox.moe/3gsy9j.png");     background-position: bottom right;     background-repeat: no-repeat;     background-attachment: fixed;