<.page_shell
  page={@page}
  subtitle={@page_subtitle || "Ask questions, get answers."}
  global_message_html={@global_message_html}
  current_moderator={@current_moderator}
  board_chrome={@board_chrome}
  show_global_message={@show_global_message}
>
  <%= raw(@sanitized_body || "") %>
</.page_shell>
