<header>
  <h1><%= @page.title %></h1>
  <div class="subtitle">
    <h2>Ask questions, get answers.</h2>
  </div>
  <.admin_shortcuts moderator={@current_moderator} />
</header>

<%= if @global_message && @global_message != "" do %>
  <div class="blotter"><%= raw(@global_message) %></div>
<% end %>

<%= raw(@sanitized_body || "") %>

<%= if @board_chrome.footer_html do %>
  <%= raw(@board_chrome.footer_html) %>
<% end %>
