<!doctype html>
<html lang={if assigns[:public_shell], do: nil, else: "en"}>
  <head>
    <meta charset="utf-8" />
    <%= if assigns[:head_html] do %>
      <%= Phoenix.HTML.raw(assigns[:head_html]) %>
    <% end %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content={assigns[:viewport_content] || "width=device-width, initial-scale=1"}
    />
    <meta :if={!assigns[:public_shell]} name="csrf-token" content={get_csrf_token()} />
    <link
      :if={assigns[:base_stylesheet]}
      rel="stylesheet"
      media="screen"
      href={versioned_asset(assigns[:base_stylesheet], assigns[:asset_version])}
    />
    <link
      :if={!assigns[:skip_app_stylesheet]}
      phx-track-static={!assigns[:public_shell]}
      rel="stylesheet"
      href={versioned_asset(~p"/assets/app.css", assigns[:asset_version])}
    />
    <link
      :if={assigns[:primary_stylesheet]}
      phx-track-static={!assigns[:public_shell]}
      rel="stylesheet"
      id={assigns[:primary_stylesheet_id]}
      href={versioned_asset(assigns[:primary_stylesheet], assigns[:asset_version])}
    />
    <link
      :if={!assigns[:public_shell] && !assigns[:primary_stylesheet] && assigns[:theme_stylesheet]}
      phx-track-static
      rel="stylesheet"
      href={versioned_asset(assigns[:theme_stylesheet], assigns[:asset_version])}
    />
    <link
      :for={stylesheet <- assigns[:extra_stylesheets] || []}
      phx-track-static={!assigns[:public_shell]}
      rel="stylesheet"
      href={versioned_asset(stylesheet, assigns[:asset_version])}
    />
    <script
      :for={script_url <- assigns[:javascript_urls] || []}
      type="text/javascript"
      src={versioned_asset(script_url, assigns[:asset_version])}
    >
    </script>
    <script
      :if={!assigns[:public_shell]}
      defer
      phx-track-static
      type="text/javascript"
      src={versioned_asset(~p"/assets/app.js", assigns[:asset_version])}
    >
    </script>
    <script
      :for={script_url <- assigns[:custom_javascript_urls] || []}
      defer
      type="text/javascript"
      src={versioned_asset(script_url, assigns[:asset_version])}
    >
    </script>
    <%= if assigns[:head_after_assets_html] do %>
      <%= Phoenix.HTML.raw(assigns[:head_after_assets_html]) %>
    <% end %>
    <title><%= assigns[:page_title] || "Eirinchan" %></title>
  </head>
  <body
    class={assigns[:body_class] || "8chan vichan"}
    data-stylesheet={assigns[:body_data_stylesheet]}
  >
    <%= if assigns[:global_boardlist_html] do %>
      <%= Phoenix.HTML.raw(assigns[:global_boardlist_html]) %>
    <% end %>
    <%= @inner_content %>
    <div
      :if={
        !assigns[:public_shell] && !assigns[:hide_theme_switcher] && assigns[:theme_options] &&
          assigns[:theme_options] != []
      }
      class="boardlist bottom"
    >
      <form action={~p"/theme"} method="post" class="theme-switcher">
        <input type="hidden" name="_csrf_token" value={get_csrf_token()} />
        <input type="hidden" name="return_to" value={assigns[:conn].request_path || "/"} />
        <label for="theme-select">Style:</label>
        <select id="theme-select" name="theme">
          <%= for option <- @theme_options do %>
            <option value={option.name} selected={@theme_name == option.name}>
              <%= option.label %>
            </option>
          <% end %>
        </select>
        <button type="submit">Apply</button>
      </form>
    </div>
    <%= if @analytics_html do %>
      <%= Phoenix.HTML.raw(@analytics_html) %>
    <% end %>
    <%= if assigns[:body_end_html] do %>
      <%= Phoenix.HTML.raw(assigns[:body_end_html]) %>
    <% end %>
  </body>
</html>
